.login-container {
  padding: 20px;
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
}

.login-container button {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-btn {
  background-color: #4CAF50;
  color: #FFF;
  border: none;
}

.login-btn:hover {
  background-color: #45a049;
}

.register-btn {
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid #ccc;
}

.register-btn:hover {
  background-color: #e0e0e0;
}
